<table class="table table-bordered align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead> 
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>email@mdo.com</td>
      <td>0552594990</td>
      <td class="text-end">
          <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-eye">View</a></i>
          <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil">Edit</a></i>
          <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x">Delete</a></i>
      </td>
    </tr>
  </tbody>
</table>